@model IEnumerable<Prueba_Tecnica_Fanalca.Models.DB.TblTipoDocumento>

@{
    ViewData["Title"] = "Documentos de Indentidad";
}

<h1>Tipos de Documento de Indentidad</h1>

<p>
    <a asp-action="Create">Crear nuevo Tipo de Documento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumTipoDocId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.NumTipoDocId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
