@model IEnumerable<Prueba_Tecnica_Fanalca.Models.DB.TblSubarea>

@{
    ViewData["Title"] = "Sub Áreas";
}

<h1>Lista de Sub Áreas</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumArea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumArea.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumSubareaId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.NumSubareaId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
